<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employer Profile</title>
</head>
<body>
    <div>
        <h1>Welcome, {{ user_profile.full_name }}!</h1>
        <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
        <div>
            <!-- Button to update employer profile -->
            <button onclick="window.location.href='{% url 'update_employer_profile' %}'">Update Profile</button>

            <!-- Button to view job applications -->
            <button onclick="window.location.href='{% url 'view_job_seeker_applications' %}'">View Applications</button>

            <!-- Button to post new jobs -->
            <button onclick="window.location.href='{% url 'add_jobs' %}'">Post Jobs</button>
        </div>
    </div>
</body>
</html>
